<footer class="container-fluid bh-absolute-bottom footer">
    <div class="row">
       
        <div class="col footer_text">
            © 2018 VZW VETAS | Alle rechten voorbehouden
            <br>
            In samenwerking met Amber Van Hee en Arteveldehogeschool
            <br>
            <br>
            Academiejaar 2017-2018
            <br>
            Ons e-mailadres is www.vetas.be
            <br>
            
           
        </div>
    </div>
        <div class="footer_afb">
            <center>
                <img class="footer_afb1" src="{{ '/images/logo/logo_w.png' | relative_url }}" >
                <img class="footer_afb2" src="{{ '/images/logo/logo_artevelde.png' | relative_url }}" >
            </center>
        </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>