<nav class="navbar navbar-expand-md navbar-light bg-light flex-column custom-nav-ver">

    <a class="navbar-brand" href="#"><img class="logo_s" src="{{ '/images/logo/logo_s.png' | relative_url }} "></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="mainNavigation">

    <!-- <ul class="navbar-nav flex-column">
{%- for nav-item in site.data.navigation %}
    
    {%- capture item_classes %}{% if page.url contains nav-item.permalink %}active{% endif %}{% endcapture %}
    {%- if nav-item.folder %}
        <li class="nav-item dropdown {{ item_classes }}">
                <a class="nav-link dropdown-toggle" href="{{ nav-item.permalink | relative_url }}" id="navbarDropdown" title="{{ nav-item.name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ nav-item.name }}
                </a>
                {%- include navigation-from-folder-v.html nav-item=nav-item %}
        </li>
    {%- else %}
    <li class="nav-item {{ item_classes }}">
            <a class="nav-link" href="{{ nav-item.permalink | relative_url }}" title="{{ nav-item.name }}">
                {{ nav-item.name }}
            </a>
    </li>
    {%- endif %}

{%- endfor %}
    </ul> -->




    <ul class="navbar-nav flex-column">
                <li class="nav-item" >
                    <a class="nav-link" href="/1718-3CMO-BaP-ambevanh1/index"  title="Home" >
                        HOME
                    </a>
                </li>
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/1718-3CMO-BaP-ambevanh1/logo/" id="navbarDropdown" title="Logo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            LOGO
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdown" aria-hidden="true">
                            <a class="dropdown-item" href="/1718-3CMO-BaP-ambevanh1/logo/index">Logo</a>
                            <a class="dropdown-item" href="/1718-3CMO-BaP-ambevanh1/logo/logo_gebruik">Logo gebruik</a>
                        </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/1718-3CMO-BaP-ambevanh1/kleur/" id="navbarDropdown" title="Logo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        KLEUR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" aria-hidden="true">
                        <a class="dropdown-item" href="/1718-3CMO-BaP-ambevanh1/kleur/index">Logo</a>
                        
                    </div>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" href="/1718-3CMO-BaP-ambevanh1/stijlgids"  title="Home" >
                        TYPOGRAFIE
                    </a>
                </li>




            </ul>

    </div>
</nav> 



