
.client-style {
  font-family: $clientfont-family-base;
  $color: $clientcolor-1;
  border-bottom: 1px solid $color-grey-2;
  border-top: 1px solid $color-grey-2;
  margin: 1em 0 2em;

  h2, h3, h4, h5, h6 {
    font-family: $clientfont-family-title;
  }

  h1 {
    font-weight: 200;
    font-size: 7rem;
    color: #b4b4b4;
    
  }

  a {
    color: $clientcolor-5;
    &:hover {}
    &:active {}
    &:focus{}
  }

  // …
  
}