/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}


/* Body
---------------------------------------------
*/

.kitty {
  width: 100%;
}

.first-al {
  margin: 9rem 0 1rem;
}

.balk {
  background-color: #007a8e;
  margin-bottom: -9%;
  padding-right: 235px;
  padding-left: 35px;
  margin-right: 115px;
}

.balk2 {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}

.balk_title {
  background-color: #007a8e;
  position: absolute;
  left: -160px;
  top: -10px;
  z-index: -1;
  padding: 1px 600px;
}

.hallo {
  color: #007a8e;
}

.navbar {
  background-color: #007a8e !important;
}

.logo_max {
  width: 310px;
  margin: 50px 282px;
}

.logo_variaties {
  width: 310px;
  margin: 50px 40px;
}

.logo_dont {
  width: 200px;
}


.vetas {
  color: white;
}

.home_afbeelding {
  width: 1450px;
  margin: -66px -390px;
  position: absolute;
  left: 0px;
  top: 0px;
  
}

.home_titel1 {
  font-size: 70px;
  margin-top: 150px;
  margin-bottom: 40px;
  text-align: center;
}

.home_titel2 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel3 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel4 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel5 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel6 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel7 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_p1 {
  margin-bottom: 40px;
  text-align: center;
  
}

.home_p {
  margin-bottom: 40px;
  
}

.logo_s {
  width: 365px;
  margin-top: -140px;
  margin-left: 50px;
}

/* Button
---------------------------------------------
*/

.btn-outline-info {
  color: #007a8e;
  background-color: transparent;
  background-image: none;
  border-color: #007a8e;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid ;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 85px;
}




/* Arrow
---------------------------------------------
*/


.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-top: 550px;
  margin-right: 262px;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #transparent;
  height: 910px;

  width: 1170px;
  margin-left: -130px;
  margin-top: -90px
}

#full {
  height: 265vh;
  background-color: #transparent;
  padding-top: 10px;
  
}

















/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: relative;
  right: 0;
  bottom: -96px;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}