/* Navigation
---------------------------------------------
*/
.navbar a {
    border: none;
}


/* Body
---------------------------------------------
*/

.logo_typo3 {
  width: 305px;
  margin-top: 25px;
  margin-left: 50px;
}

/* LOGO
---------------------------------------------
*/

main ol li:before {
  counter-increment: i;
  content: counter(i);
  padding: 3px 6px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  font-family: "Assistant", serif;
  font-weight: 800;
}

.kitty {
  width: 100%;
}

.first-al {
  margin: 45px 0px 20px 0px;
}

.logo_p {
  padding: 0px 40px 0px 0px;
}

.balk {
  background-color: #007a8e;
  margin-bottom: -9%;
  padding-right: 235px;
  padding-left: 35px;
  margin-right: 115px;
}

.balk2 {
  background-color: #FFFFFF;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
}

.balk_title {
  background-color: #007a8e;
  position: absolute;
  left: -160px;
  top: -10px;
  z-index: -1;
  padding: 1px 600px;
}

.hallo {
  color: #007a8e;
}

.navbar {
  background-color: #007a8e !important;
}

.logo_max {
  width: 310px;
  margin: 30px 0px 50px 460px;
}

.logo_variaties {
    width: 200px;
    margin: 15px 0px;

}

.var_top {
  margin-top: 20px;
}

.var5 {
  margin-left: -240px;
}

.var {
  margin-left: 0px;
}

.positief {
  margin-left: 480px;
}

.negatief {
  margin-top: 60px;
}

.bottom {
  margin-bottom: 60px;
}

.logo_dont {
  width: 200px;
  z-index: -1;
}

.lijst_dont {
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: #f4f3f3;
  padding: 40px 40px;
}

.p_dont {
  margin-top: 25px;
}

.logo_p2 {
  margin-top: 200px;
}

.concept_afb {
  width: 310px;
  margin: -140px 42px 30px 0px;
}

.logo_mm {
  width: 113px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.logo_px {
  width: 90px;
  margin-top: 60px;
}

.box_mingr {
  background-color: #f4f3f3;
  margin-top: 30px;
  margin-bottom: 70px
}

.h_gr {
  margin-top: 50px;
}

.h_gr2 {
  margin-top: 55px;
}

.center_gr {
  text-align: center;
}

.zw {
  margin-bottom: 10px;
}

.kruis_top {
  margin-top: 20px;
}


/* HOME
---------------------------------------------
*/

.box {
    background-color: #f4f3f3;
    padding: 0px 10px 0px 0px;
    margin-top: -40px;
    margin-bottom: 50px;
}

.vetas {
  color: white;
}

.home_afbeelding {
  width: 1450px;
  margin: -66px -390px;
  position: absolute;
  left: 0px;
  top: 0px;
  
}

.home_afbeelding2 {
  width: 1220px;
  margin-left: -65px;
}

.home_titel {
  font-size: 70px;
  margin-top: 190px;
  margin-bottom: -20px;
  text-align: left;
}

.home_titel1 {
  font-size: 70px;
  margin-top: 45px;
  margin-bottom: 40px;
  text-align: right;
}

.home_titel2 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel3 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel4 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel5 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel6 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_titel7 {
  font-size: 70px;
  margin-top: 85px;
  margin-bottom: 140px;
  text-align: center;
}

.home_p2 {
  margin-bottom: 40px;
  text-align: left; 
}

.home_p1 {
  margin-bottom: 20px;
  text-align: right; 
  float: right;
  padding-left: 38px;
}

.home_p {
  margin-bottom: 40px;
  margin-top: 141px;
  
}

.right_align {
  text-align: right;
}

.logo_s {
  width: 365px;
  margin-top: -25px;
  margin-left: 50px;
}

.logo_home {
  width: 365px;
  margin-top: -25px;
  margin-left: 20px;
}

.box_personality {
  margin-bottom: 60px;
}

.title_personality {
  margin-bottom: 0px;
}

.afb_kleur {
  width: 280px;
  margin-top: 28px;
  margin-left: 20px;
}


/* BUTTON
---------------------------------------------
*/

.btn-outline-info {
  color: #007a8e;
  background-color: transparent;
  background-image: none;
  border-color: #007a8e;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid ;
  padding: 0.375rem 1.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-bottom: 85px;
}

a.button-link {
  color: #007a8e;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  &:hover {
    background-color:transparent;
    color: #0f0f0f;
  }
}

a.nav-link {
  color: #f4f3f3;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  &:hover {
    background-color:transparent;
    color: #0f0f0f;
  }
}

.grow { 
  transition: all .2s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}


/* TRANSITION
---------------------------------------------
*/

.k_1 {
  margin-top: -370px;
  margin-left: -184px;
}


.kruis,.content {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.kruis {    
  -webkit-transform: scale( 0.1 );
  -moz-transform: scale( 0.1 );
  -o-transform: scale( 0.1 );
  -ms-transform: scale( 0.1 );
  transform: scale( 0.1 );
  
  width: 400px;
  height: 400px;
  line-height: 400px;
}

.kruis:hover {
  -webkit-transform: scale( 0.2 );
  -moz-transform: scale( 0.2 );
  -o-transform: scale( 0.2 );
  -ms-transform: scale(0.2 );
  transform: scale(0.2 );
  
  vertical-align: middle;
}

.content {
  opacity: .1;
}
.kruis:hover .content {
  opacity: 1;
}





/* ARROW
---------------------------------------------
*/


.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-top: 550px;
  margin-right: 262px;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 910px;

  width: 1170px;
  margin-left: -130px;
  margin-top: -90px
}

#full {
  height: 470vh;
  background-color: transparent;
  padding: 1px 0px 0px 0px;
}




/* KLEUR
----------------------------------------------
*/

.logo_kleur {
  width: 700px;
    z-index: 1;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 35px;
}

.kleur_p1 {
  margin-left: -40px;
    padding: 0px 40px;
}

.kleur_p2 {
  text-align: left;
  float: right;
  padding: 35px 66px;
  background-color: #f4f3f3;
}

.overzicht_kleuren {
  margin: 215px 0px 80px 0px;
}

.vak {
  padding: 70px 0px 0px 0px;
}

.kleur_text {
  text-align: center;
  padding-bottom: 110px;
}



.t2 {
  color: #191d32;
}

.v1 {
  background-color: #191d32;
}

.v2 {
  background-color: white;
}

.v3 {
  background-color: #f4f3f3;
}

.v4 {
  background-color: #007a8e;
}


/* TYPOGRAFIE
----------------------------------------------
*/

a.download {
  color: #007a8d8a;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  &:hover {
    background-color:transparent;
    color: #0f0f0f;
  }
}

.typo_p {
  padding: 0px 50px 0px 0px;
}

.typo_p2 {
  padding: 0px 0px 0px 30px;
}

.typo_p1 {
  margin-left: -50px;
    padding: 0px 49px;
}

.typo_div1 {
  margin-left: 450px;
}

.typo_div2 {
  text-align: right;
  margin-top: 20px
}

.typo_afb1 {
  width: 375px;
  margin: 20px 452px;
  background-color: #007a8e;
  padding: 30px 30px;
}

.typo_afb2 {
  width: 375px;
  margin: 20px 80px;
  background-color: #007a8e;
  padding: 30px 30px;
}

/* FOTOGRAFIE
----------------------------------------------
*/

.fotografie_home {
  width: 365px;
  margin-top: 50px;
  margin-left: 20px;
}

.foto_afb1 {
  width: 400px;
  margin: 40px 42px 60px 0px;
}

.foto_afb2 {
  width: 400px;
  margin: 0px 42px 30px 65px;
}

.foto_afb3 {
  z-index: -1;
    margin-bottom: -244px;
    width: 690px;
    margin-left: -90px;
    margin-top: -270px;
}

.foto_afb4 {
  width: 400px;
  margin: -20px 42px 60px 0px
}

.foto_afb5 {
  width: 450px;
  margin: -60px 42px 60px 0px;
}

.foto_afb6 {
  width: 400px;
  margin: -60px 42px 60px 0px;
}

.foto_afb7 {
  width: 400px;
  margin: -30px 42px 60px 0px;
}

.foto_afb8 {
  width: 400px;
  margin: 15px 42px 60px 0px;
}

.foto_afb9 {
  width: 400px;
  margin: -354px 42px 60px 0px;
}


.foto_transp {
  margin-top: 100px;
}

.col_p1 {
  margin-top: 60px;
}

.col_p2 {
  text-align: right;
  margin-left: -65px;
  margin-top: -3px;
  padding: 0px 0px 0px 90px;
}

.foto_primair {
  margin-top: 50px;
 
}

.foto_secundair {
  text-align: right;
  margin-left: -50px;
}

.foto_secundair1 {
  text-align: right;
  margin-left: -50px;
}

.foto_secundair2 {
  text-align: right;
  
}

.div_primair {
  margin-top: -20px;
}

.div_secundair {
    margin-top: 30px;
}

/* TOEPASSINGEN
----------------------------------------------
*/

.box_toep {
  padding: 0px 10px 0px 0px;
  margin-top: 60px;
  margin-bottom: 100px;
}

.box_toep1 {
  padding: 0px 10px 0px 0px;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: -70px;
}

.toep_img {
  margin-left: -20px;
}

.h3_toep {
  margin-top: 50px;
}

.downloads {
  cursor: pointer;
}

.toep_p {
  margin-top: 30px;
}

.toep_afb {
  width: 365px;
  margin-top: 30px;
  margin-left: 50px;
}

a.toep {
  color: #0f0f0f;
  text-decoration: none;
  background-color: transparent;
  border-bottom: none;
  &:hover {
    background-color:transparent;
    color: #0f0f0fd5;
  }
}


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: relative;
  right: 0;
  bottom: -96px;
  left: 0;
}

footer {
    background-color: $mycolor-2;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {
            
        }
    }
}


/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:$mycolor-3; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:$mycolor-5; 
  }
}